<%- include('../modules/head.ejs') %>
</head>
<body>
    <%- include('../modules/header.ejs') %>
    <main>
        <% if (recipes.length > 0) { %>
            <section class="grid">
                <% for (let recipe of recipes) { %>
                        <div class="recipe-card">
                            <div class="recipe-card-top">
                                <h3><%= recipe.category %></h3>
                                <a href='/login' class="favorite-star" title="Log in to mark your favorites!">
                                    <div>
                                        <i class="far fa-star"></i>
                                    </div>
                                </a>
                            </div>
                            <a href="/recipe/<%= recipe._id %>" class="recipe-link">
                                <h2><%= recipe.name %></h2>
                                <h3><%= recipe.category %></h3>
                                <img src="<% 
                                if(recipe.imageUrl){
                                    %>/images/<%= recipe.imageUrl %><% 
                                } else {
                                    %>/images/bonappetit.png<% 
                                } %>" alt="Image of <%= recipe.name %>">
                            </a>
                        </div>
                <% } %>
            </section>
        <% } else { %>
            <h1>No Recipes Found!</h1>
        <% } %>
    </main>
    <%- include('../modules/footer.ejs') %>
</body>
</html>


    